
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

/* Remove default content for all screen sizes */
.swiper-button-next::before,
.swiper-button-next::after,
.swiper-button-prev::before,
.swiper-button-prev::after {
  content: "";
}

/* Media query for small devices */
@media (max-width: 767px) {

  .swiper-button-next,
  .swiper-button-prev {
    top: 90%;
    bottom: auto;

  }

    /* Adjust the margin or padding to reduce the gap */
    .swiper-button-next {
      transform: translateX(-240%);
      /* Adjust the value as needed */
    }

    .swiper-button-prev {
    transform: translateX(240%);
      /* Adjust the value as needed */
    }
}