body {
  overflow-x: hidden;
}
.swiper-slide .swiper-slide-active {
  width: 1170px !important;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  height: 50px;
  width: 50px;
  cursor: pointer;
  right: 0;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: auto !important;
  right: 0 !important;
  top: 30%;
}

/* Remove default content for all screen sizes */
.swiper-button-next::before,
.swiper-button-next::after,
.swiper-button-prev::before,
.swiper-button-prev::after {
  content: '';
}

/* Media query for small devices */
@media (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 92%;
    bottom: auto;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 0 !important;
    right: 0 !important;
    top: 92%;
  }

  /* Adjust the margin or padding to reduce the gap */
  .swiper-button-next {
    transform: translateX(-240%);
    /* Adjust the value as needed */
  }

  .swiper-button-prev {
    transform: translateX(240%);
    /* Adjust the value as needed */
  }
}

.outline-text {
  -webkit-text-stroke: 2px #2dc6f5;
  -webkit-text-fill-color: transparent;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #2dc6f5 !important;
  opacity: 1 !important;
}

.options .option.card-active {
  flex-grow: 10000;
  transform: scaleX(1);
  max-width: 800px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
}

.options .option:not(.card-active) {
  flex-grow: 1;

  max-width: 400px;
  margin: 0px 15px;
  border-radius: 40px;
  background-size: auto 100%;
}

.options .option .label {
  display: flex;
  position: absolute;
  height: 500px;
  left: 0;
  right: 0;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option.card-active .label .title {
  display: none;
}

.options .option:not(.card-active) .content {
  display: none;
}

.options .option:not(.card-active) .title {
  position: absolute;
  transform: rotate(-90deg);
  left: 0;
  right: 0;
  top: calc(50% + 50px);
}

.options .option .content .desc {
  transition-delay: 0.1s;
}

@supports (-webkit-text-stroke: 1px #2dc6f5) {
  .outline-with-shaddow {
    -webkit-text-stroke: 1px #2dc6f5;
    -webkit-text-fill-color: transparent;
    /* color: white; */
    /* text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
  }
}

/* styles/NumberAnimation.module.css */
.number {
  transition: color 0.3s ease-in-out;
}

.tempHeadContBdr .frmTitle{
  color: #fff !important;
}

.brandingWrapper{
  display: none !important;
}

.modalContainer{
        position: fixed;
          height: 1100px;
          width: 40%;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          max-height: calc(100% - 200px);
          z-index: 999999;
          background: #2f2e2e;
          border-radius: 12px;
          overflow-y: scroll;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.loading-spinner {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
.item-overlay {

  color: #fff;
  overflow: hidden;
  text-align: center;
  /* fix text transition issue for .left and .right but need to overwrite left and right properties in .right */
  width: 100%;

  -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}
.item-overlay.right {
  right: 200%;
  left: -100%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
    .zf_lB_Dimmer_74722 {
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: rgb(0, 0, 0);
      opacity: 0.8;
      z-index: 10000000;
    }

    .zf_lB_Container_74722 {
      position: fixed;

      margin: 0;
      margin-right: 0px;
      padding: 0;
      height: 1837px;
      width: 100%;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      border: 7px solid none;
      max-height: calc(100%);
      z-index: 999999;
    }

    .zf_lB_Wrapper_74722 {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: 0;
      margin-top: -180px;
      z-index: 10000001;
    }

    .zf_main_id_74722 {
      height: calc(100% - 0px);
      display: flex;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .zf_lb_closeform_74722 {
      position: absolute;
      right: 34px;
      background: #2f2e2e;
      padding: 0;
      border-radius: 50%;
      width: 34px;
      height: 34px;
      top: 42px;
      cursor: pointer;
      border: 2px solid #d9d9d9;
    }

    .zf_lb_closeform_74722:before,
    .zf_lb_closeform_74722:after {
    position: absolute;
      left: 14px;
      content: ' ';
      height: 20px;
      width: 2px;
      top: 5px;
      background-color: #f7f7f7;
    }

    .zf_lb_closeform_74722:before {
      transform: rotate(45deg);
    }

    .zf_lb_closeform_74722:after {
      transform: rotate(-45deg);
    }



    @media screen and (min-device-width: 10px) and (max-device-width: 380px) {
      .zf_lB_Container_74722 {
        width: 270px !important;
      }
    }

    @media screen and (min-device-width: 360px) and (max-device-width: 480px) {
      .zf_lB_Container_74722 {
        width: 300px !important;
      }
    }

    @media screen and (min-device-width: 440px) and (max-device-width: 500px) {
      .zf_lB_Container_74722 {
        width: 380px !important;
      }
    }

    @media only screen and (min-width:500px) and (max-width:600px) {
      .zf_lB_Container_74722 {
        width: 450px;
      }
    }

    @media only screen and (min-width:601px) and (max-width:700px) {
      .zf_lB_Container_74722 {
        width: 540px;
      }
    }

    @media only screen and (min-width:700px) and (max-width:800px) {
      .zf_lB_Container_74722 {
        width: 650px;
      }
    }

    @media screen and (min-device-width: 801px) and (max-device-width: 1268px) {
      .zf_lB_Container_74722 {
        width: 750px !important;
      }
    }