.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.swiper-button-next::before,
.swiper-button-next::after,
.swiper-button-prev::before,
.swiper-button-prev::after {
  content: "";
}